.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    
}
.container-2 {
    display: flex;
    margin: 5px;
    justify-content: center;
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 28px;   
}
.text {
    color: rgb(85, 85, 85);
    margin: 8px;
}
.about-section {
    padding: 5px;
    border: 1px solid black;
    width: 80%;
    text-align: center;
    border-left: 5px solid red;
}
.container-t {
    display: flex;
    justify-content: center;
}
.about-paragraph {
    font-size: 15px;
    color: rgb(85, 85, 85);  
    font-family: "Poppins",sans-serif; 
    padding: 5px;
    display: block;
    border-left-color:2px solid  black ;
    
}